// arduino_secrets.h.template
//
// Copiez ce fichier en "arduino_secrets.h" (même dossier) et remplissez
// vos propres identifiants récupérés depuis la console TTN
// (onglet "General information" de votre End Device).
//
// NE JAMAIS committer le fichier "arduino_secrets.h" rempli sur GitHub :
// il doit rester dans le .gitignore.

#define SECRET_APP_EUI "0000000000000000"
#define SECRET_APP_KEY "00000000000000000000000000000000"
